## -*- coding: utf-8 -*-
<%namespace name="helper" file="base_helper.tmpl" />
<%namespace name="notes" file="annotation_helper.tmpl" />

${set_locale(lang)}

${helper.html_head_start()}

<%block name="extra_head">
## Leave this block alone.
## For inheritance use.
</%block>

${template_hooks['extra_head']()}

${helper.html_head_end()}

<body>
## header
  <header class="site-header">
    <div class="wrapper">
      <a class="site-title" rel="author" href="/">${blog_title|h}</a>
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger">
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <use href="assets/svg/theme.svg#menu-icon"></use>
            </svg>
          </span>
        </label>
        <div class="trigger">
          ${helper.html_navigation_links_entries(navigation_links)}
        </div>
      </nav>
    </div>
  </header>

## main
  <main class="page-content" aria-label="Content">
    <div class="wrapper">

    ${template_hooks['page_header']()}

    <%block name="content"></%block>

    <%block name="pagination"></%block>

    <%block name="comment"></%block>

    </div>
    ## wrapper ends here
  </main>

##<div class="container" id="content" role="main">
##  <div class="body-content">
##    <!--Body content-->
##    <div class="row">
##
##      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
##        ${template_hooks['page_header']()}
##        <%block name="content"></%block>
##      </div>
##
##      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar">
##       ${helper.sidebar_about()}
##       ${helper.sidebar_categories()}
##      </div><!--.sidebar-->
##    </div><!--.row-->

##    <%block name="pagination"></%block>
##    <%block name="comment"></%block>
##    <!--End of body content-->

##    <footer id="footer">
##      ${content_footer}
##      ${template_hooks['page_footer']()}
##    </footer>

    <footer class="site-footer h-card">
      <data class="u-url" href="/minima/"></data>
      <div class="wrapper">
        <div class="footer-col-wrapper">

          <div class="footer-col">
            <p class="site-desc">Write an awesome description for your new site here.</p>
          </div>

          <div class="footer-col">
            <!--p class="feed-subscribe">
              <a href="https://jekyll.github.io/minima/feed.xml">
                <svg class="svg-icon orange"><use href="assets/svg/social-icons.svg#rss"></use></svg>
                <span>Subscribe</span>
              </a>
            </p-->
            <!--ul class="contact-list"></ul-->
            <div class="p-name">GitHub User</div>
            <div class="u-email"><a href="mailto:your-email@domain.com">your-email@domain.com</a></div>
            <div class="copyright">Contents © 2017-2020, all rights reservered.</div>
            <div class="social-links">
              <ul class="social-media-list">
                <li><a rel="me" href="https://twitter.com/jekyllrb" title="jekyllrb">
                    <svg class="svg-icon grey"><use href="assets/svg/social-icons.svg#rss"></use></svg>
                </a></li>
                <li><a rel="me" href="https://github.com/jekyll" title="jekyll">
                    <svg class="svg-icon grey"><use href="assets/svg/social-icons.svg#github"></use></svg>
                </a></li>
                <li><a rel="me" href="https://twitter.com/jekyllrb" title="jekyllrb">
                    <svg class="svg-icon grey"><use href="assets/svg/social-icons.svg#twitter"></use></svg>
                </a></li>
                <li><a rel="me" href="https://twitter.com/jekyllrb" title="jekyllrb">
                    <svg class="svg-icon grey"><use href="assets/svg/social-icons.svg#facebook"></use></svg>
                </a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </footer>

  </div>
</div>

<div id="scroll-top" title="back to top">
  <div id="scroll-top-arrow"></div>
  <div id="scroll-top-stick"></div>
</div>

${helper.late_load_js()}

##<!-- fancy dates -->
##<script>
##  moment.locale("${momentjs_locales[lang]}");
##  fancydates(${date_fanciness}, ${js_date_format});
##</script>
##<!-- end fancy dates -->

<%block name="extra_js"></%block>

% if annotations and post and not post.meta('noannotations'):
  ${notes.code()}
% elif not annotations and post and post.meta('annotations'):
  ${notes.code()}
% endif

${body_end}
${template_hooks['body_end']()}

</body>
</html>
